extends ./layout

block content
    a(href='/pages/getProducts') Return
    h1.
      Product ID #{product.idProduct}
    form(action='/pages/updateProduct/#{product.idProduct}',method='post',name='updateProduct',enctype='application/x-www-form-urlencoded')
        p Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            input#inputName(type='text', value='#{product.name}', name='name', style='width:300px;' maxlength='40')
        p Description:&nbsp;
            input#inputDescription(type='text', value='#{product.description}', name='description', style='width:800px;' maxlength='120')
        p Amount:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            input#inputAmount(type='number', value='#{product.amount}', name='amount', style='width:50px;' maxlength='4')
        p Category:&nbsp;&nbsp;&nbsp;
            input#inputCategory(type='text', value='#{product.category}', name='category', style='width:300px;' maxlength='40')
        p Price:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            input#inputPrice(type='number', value='#{product.price}', name='price', style='width:100px;' maxlength='10')
        p Url Image:&nbsp;&nbsp;
            input#inputurlImage(type='text', value='#{product.urlImage}', name='urlImage', style='width:800px;' maxlength='120')
        p
            input(type='hidden',value='PUT', name='_method')
        p
            button#btnSubmit(type='submit').
              Update