extends ./layout

block content
    p 
    table(style="border: none;width: 600px;")
        tr 
            td(style="border: none; width: 200px;")
                a(href='/pages/createUser') Create new user
            td(style="border: none; width: 200px;")
                a(href='/pages/newProduct') Insert new product
            td(style="border: none; width: 200px;")
                a(href='/logout') Logout

    h1.
        #{title}
    table
        - each product, i in products
            tr
                td(style="width: 50px; font-weight: bold; text-align: center;") #{product.idProduct}
                td(style="width: 400px;") #{product.name}
                td
                    form(method="POST", action="/pages/deleteProduct/#{product.idProduct}")
                        input(type="image", name="submit", alt="Submit", value="Delete", style="cursor:pointer", src='/images/delete.png', title="Delete")
                td
                    form(method="GET", action="/pages/getOneProduct/#{product.idProduct}?edit=true")
                        input(type="hidden", name="edit", value="true")
                        input(type="image", name="submit", alt="Submit", value="Edit", style="cursor:pointer", src='/images/edit.png', title="Edit")
                td
                    form(method="GET", action="/pages/getOneProduct/#{product.idProduct}")
                        input(type="image", name="submit", alt="Submit", value="Details", style="cursor:pointer", src='/images/info.png', title="Details")