extends ./layout

block content
    p 
     a(href='/pages/logout') Logout&nbsp;
    p
     a(href='/pages/newProduct') Insert new product
    p 
     a(href='/pages/createUser') Create new user
    h1.
         #{title}
    table
        - each product, i in products
            tr
                td(style="width: 50px; font-weight: bold; text-align: center;") #{product.idProduct}
                td(style="width: 400px;") #{product.name}
                td
                  form(method="POST", action="/api/deleteProduct/#{product.idProduct}")
                   input(type="image", name="submit", alt="Submit", value="Delete", style="cursor:pointer", src='/images/delete.png', title="Delete")
                td
                  form(method="GET", action="/api/getOneProduct/#{product.idProduct}?edit=true")
                   input(type="hidden", name="edit", value="true")
                   input(type="image", name="submit", alt="Submit", value="Edit", style="cursor:pointer", src='/images/edit.png', title="Edit")
                td
                  form(method="GET", action="/api/getOneProduct/#{product.idProduct}")
                   input(type="image", name="submit", alt="Submit", value="Details", style="cursor:pointer", src='/images/info.png', title="Details")