extends ./layout

block content
    a(href='/api/getProducts') Return
    h1.
        Id Product #{product.idProduct}
    p Name: #{product.name}
    p Description: #{product.description}
    p Amount: #{product.amount}
    p Category: #{product.category}
    p Price: #{product.price}
    p Url Image: #{product.urlImage}
    p 
    img(src=product.urlImage, alt='Thumbnail')