extends ./layout

block content
    a(href='/pages/getProducts') Return
    h1.
        Id Product #{product.idProduct}
    table
       tr
         td(style="color: #9f5eff; font-size:15px; font-weight: bold;") Name: 
         td(style="font-size:15px; font-style: italic;") #{product.name}
       tr
         td(style="color: #9f5eff; font-size:15px; font-weight: bold;") Description: 
         td(style="font-size:15px; font-style: italic;") #{product.description}
       tr
         td(style="color: #9f5eff; font-size:15px; font-weight: bold;") Amount:
         td(style="font-size:15px; font-style: italic;") #{product.amount}
       tr
         td(style="color: #9f5eff; font-size:15px; font-weight: bold;") Category:
         td(style="font-size:15px; font-style: italic;") #{product.category}
       tr
         td(style="color: #9f5eff; font-size:15px; font-weight: bold;") Price:
         td(style="font-size:15px; font-style: italic;") #{product.price}
       tr
         td(style="color: #9f5eff; font-size:15px; font-weight: bold;") Url Image:
         td(style="font-size:15px; font-style: italic;") #{product.urlImage}
    p 
    img(src=product.urlImage, alt='Thumbnail')